<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-tymeleaf-spring4-4.dtd">
<html xmlns:th=http://www.thymeleaf.org
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css?ts=<?=time()?>&quot}" />
<title>Silph - ERROR</title>
</head>
<body class="main">
	<div class="header">
		<a href="/" style="color: white; text-decoration:none;">Silph</a>
	</div>
	
	<div class="page">
		<div style="color:#333; font-size:2em;">
			OOPS! Something went wrong :(
		</div>
	</div>
	
	<div class="bottom_box">
		<div class="bottom_text">Made by Davide Baroffio (500353).</div>
	</div>
</body>
</html>
