<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-tymeleaf-spring4-4.dtd">
<html xmlns:th=http://www.thymeleaf.org
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.css?ts=<?=time()?>&quot}" />
<title>Silph - Photographers</title>
</head>
<body class="main">
	<div class="header">
		<a href="/" style="color: white; text-decoration: none;">Silph</a>
	</div>
	<ul class="navbar">
		<li><a class="navbar" href="/photos">Photos</a></li>
		<li><a class="navbar" href="/albums">Albums</a></li>
		<li><a class="navbar" href="/photographers">Photographers</a></li>
		<li><a class="navbar_extra" href="/cart">Go to Cart</a></li>
		<li><a class="navbar_extra" href="/login">Login</a></li>
	</ul>
	<div class="page">
		<div style="font-size: x-large; ">Photographers</div>
		<ul>
			<li th:each="elem:${photographers}"><a
				th:href="@{'/albums/'+${elem.id}}"
				th:text="${'[#'+elem.id+']'+' '+elem.firstName+' '+elem.secondName}"></a>
			</li>
		</ul>
	</div>

	<div class="bottom_box">
		<div class="bottom_text">Made by Davide Baroffio (500353).</div>
	</div>
</body>
</html>