<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-tymeleaf-spring4-4.dtd">
<html xmlns:th=http://www.thymeleaf.org
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.css?ts=<?=time()?>&quot}" />
<title>Silph - Manager</title>
</head>
<body class="main">
	<div class="header">
		<a href="/" style="color: white; text-decoration: none;">Silph</a>
	</div>
	<ul class="navbar">
		<li><a class="navbar" href="/manager">Photo Manager</a></li>
		<li><a class="navbar" href="/requests">Requests</a></li>
	</ul>
	<div class="page">
		<div th:if="${handled==true}">
			Showing handled requests.<a class="button"
				style="text-decoration: none; float: right;" href="/requests">See
				not handled requests</a>
		</div>
		<div th:if="${handled==false}">
			Showing not handled requests.<a class="button"
				style="text-decoration: none; float: right;"
				href="/requests_handled">See handled requests</a>
		</div>
		<ul>
			<li th:each="elem:${requests}"><a
				th:href="@{'/request/'+${elem.id}}"
				th:text="${'[#'+elem.id+']'+' '+elem.customer.firstName+' '+elem.customer.secondName}"></a>
			</li>
		</ul>
	</div>

	<div class="bottom_box">
		<div class="bottom_text">Made by Davide Baroffio (500353).</div>
	</div>
</body>
</html>
